<%= form_for(@recipe, html: {class: 'form'}) do |f| %>

<div class="form-group">
  <%= f.label :title %><br>
  <%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :instructions %><br>
  <%= f.text_area :instructions, class: 'form-control' %>
</div>
<div class="form-group">
  Ingredients:
  <br>
  <% Ingredient.order("lower(name) ASC").all.each do |ingredient| %>
  <div class="checkbox-group">
    <%= check_box_tag "ingredients[]", ingredient.name, @recipe.ingredients.include?(Ingredient.find_by(name: ingredient.name))  %> 
    <%= label :ingredients, ingredient.name %>
  </div>
  <% end %>
</div>
<div class="form-group">
  <%= f.label :published_on %><br>
  <%= f.date_select :published_on %>
</div>
<div class="form-group">
  <%= f.label :image %><br>
  <%= f.text_field :image, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :category_id %><br>
  <%#= f.number_field :category_id %>
  <%= f.select :category_id, Category.all.map {|c| [c.name, c.id] } %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>

