<main class="container">
  <section class="row">
    <h1>Recipes</h1>
  </section>
  <section class="row">


  <% if @recipes.is_a?(Array) %>
  <% @recipes.sort_by! {|r| r.title } %>
  <% else %>
  <% @recipes.order!("lower(title) ASC") %>
  <% end %>
  
    <% @recipes.each do |recipe| %>
    <div class="col-sm-4 recipe-container">
   <% @recipe = recipe %>
      <div class="btn-container">
      <%= link_to "#{recipe.title}", recipe, class: 'btn btn-default btn-lg' %>
      </div>
      <div class="edit-container">
      <% if can? :edit, @recipe %>
        <%= link_to "#editRecipe_#{recipe.id}", 'data-toggle' => 'modal', class: 'btn btn-default, edit-button btn-sm' do %>
        <i class='fa fa-pencil-square-o'></i>
        <% end %>
      <% end %>
      </div>
      <div class="delete-container">
      <% if can? :destroy, @recipe %>
      <%= link_to recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm edit-button' do %>
      <i class='fa fa-times'></i>
      <% end %>
      <% end %>
      </div>
      <%= link_to image_tag(@recipe.recipe_image.thumb.url, class: 'recipe-image'), recipe %>

<!-- Modal -->
      <div class="modal fade" id="editRecipe_<%= recipe.id%>" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Edit recipe</h4>
            </div>
            <div class="modal-body">
              <%= render 'recipes/form', recipe: @recipe %>
              
            </div>
          </div>
        </div>
      </div>
<!-- End Modal -->

      
    </div>
    <% end %>
    <br>
  </section>

</main>