<main class="container">
  <section class="row">
      <h1>Recipes</h1>
  </section>
  <section class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-sm-4">
        <%= recipe.title %>
        <%= link_to 'show', recipe %>
        <%= link_to 'edit', edit_recipe_path(recipe) %>
        <%= link_to 'delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
    <br>
  </section>
  <section class="row">
    <%= link_to 'add recipe', new_recipe_path %>
  </section>
</main>

