<main class="container">
  <section class="row">
      <h1>Ingredients</h1>
  </section>
  <section class="row">
    <% @ingredients.each do |ingredient| %>
      <div class="col-sm-4">
        <%= ingredient.name %>
        <%= link_to 'show', ingredient %>
        <%= link_to 'edit', edit_ingredient_path(ingredient) %>
        <%= link_to 'delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
    <br>
  </section>
  <section class="row">
    <%= link_to 'add ingredient', new_ingredient_path %>
  </section>
</main>
