<div class="jumbotron">
  <h1>Ingredients</h1>
  <a class="btn btn-default btn-lg" data-toggle="modal" href="#newIngredient">Add new ingredient</a>
</div>


<!-- Modal -->
<div class="modal fade" id="newIngredient">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add ingredient</h4>
      </div>
      <div class="modal-body">

      <%= form_for(Ingredient.new, html: {class: 'form'}) do |f| %>
          <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'form-control'  %>
          </div>
          <div>
            <%= f.submit %>
          </div>
        <% end %>


<!--         <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Ingredient Name">
          </div>
          <button type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
        </form> -->




      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<main class="container">
  <section class="row">
      <h1>Ingredients</h1>
  </section>
  <section class="row">
    <% @ingredients.each do |ingredient| %>
      <div class="col-sm-4">
        <%= ingredient.name %>
        <%= link_to 'show', ingredient %>
        <%= link_to 'edit', edit_ingredient_path(ingredient) %>
        <%= link_to 'delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
    <br>
  </section>
<!--   <section class="row">
    <%#= link_to 'add ingredient', new_ingredient_path %>
  </section> -->
</main>
