<div class="jumbotron">
  <h1><%= @ingredient.name %></h1>

  <!-- Modal -->
        <div class="modal fade" id='editIngredient_<%= @ingredient.id%>' >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit ingredient</h4>
              </div>
              <div class="modal-body">
                <%= render 'ingredients/form', ingredient: @ingredient %>
              </div>
            </div>
          </div>
        </div>
  <!-- End Modal --> 

  <p class="btn-group">
  <%= link_to 'Edit ingredient', "#editIngredient_#{@ingredient.id}", 'data-toggle' => 'modal', class: 'btn btn-success btn-lg' if can? :edit, @ingredient%>

    <%= link_to 'Delete', @ingredient, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success btn-lg' if can? :delete, @ingredient%>
    <%= link_to 'Back', ingredients_path, class: 'btn btn-default btn-lg' %>
  </p>
</div>

<% @recipes = @ingredient.recipes %>

<%= render 'recipes/recipes', recipe: @recipes %>


<!-- <main class="container">
  <section class="row">
    <h1>Recipes</h1>
  </section>
  <section class="row">
    <%# @ingredient.recipes.each do |recipe| %>
    <div class="col-sm-4">
      <%#= link_to recipe.title, recipe %>
    </div>
    <%# end %>
  </section>
</main> -->



