<!-- Carousel -->
<div id="myCarousel" class="carousel slide jumbotron">
  <div class="container">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <h1>Quark and blueberries</h1>
        <p class="lead">The perfect supper</p>
        <p><a class="btn btn-success btn-lg" href="#">Check out the recipe!</a>           
      </div>
      <div class="item">
        <h1>Scrambled eggs</h1>
        <p class="lead">Eggs for the win</p>
        <p><a class="btn btn-success btn-lg" href="#">Check out the recipe!</a>      
      </div>
      <div class="item">
        <h1>Apple crumble</h1>
        <p class="lead">Delicous summer pudding</p>
        <p><a class="btn btn-success btn-lg" href="#">Check out the recipe!</a></p>           
      </div>
    </div>     
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>      
</div> <!-- End Carousel -->


<main id="categories" class="container">
  <section class="row">
      <h1>Categories</h1>
  </section>
  <section class="row">
    <% @categories.each do |category| %>
      <div class="col-sm-4">
        <%= category.name %>
        <%= link_to 'show', category %>
        <%= link_to 'edit', edit_category_path(category) %>
        <%= link_to 'delete', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
    <br>
  </section>
  <section class="row">
    <%= link_to 'add category', new_category_path %>
  </section>
</main>
